Host *
  ForwardAgent yes
  AddKeysToAgent yes
  ServerAliveInterval 60
  ServerAliveCountMax 120
  HashKnownHosts no

Host home
HostName sh01.dfw.alchemysystems.com

Host sb
HostName fs01-mgr01sb-dfw.alchemy-ops.com

Host sbdb
HostName db01-mgr01sb-dfw.alchemy-ops.com

Host sbweb1
HostName web01-mgr01sb-dfw.alchemy-ops.com

Host sbweb2
HostName web02-mgr01sb-dfw.alchemy-ops.com

Host test
HostName fs01test.dfw.alchemysystems.com

Host futuretest
HostName fs01-mgr01test-dfw.alchemy-ops.com

Host jm
HostName jnkmas01-mgr02test-dfw.alchemy-ops.com

Host ipa
HostName ipa04-infra01prod-dfw.alchemy-ops.com

